<?xml version="1.0"?>
<!-- um7.launch
     Launch file for BNO055 IMU

     @author  Daniel J. Gonzalez      <dgonz@mit.edu>
     @date    2016-10-7
-->
<launch>
	<arg name="frame_id" default="imu_link"/>
<!--
    <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg camera)_tracked_link1"
    	args="0 0 0 0 0 0 1 $(arg frame_id) $(arg tf_prefix)/$(arg camera)_tracked_frame" />
-->
	<node pkg="um7" type="um7_driver" name="imu_node" output="screen">
		<param name="port" value="/dev/ttyUSB0"/>
		<param name="baud" value="115200"/> 
		<param name="frame_id" value="$(arg frame_id)"/>
		<param name="mag_updates" value="true"/> 
		<param name="quat_mode" value="true"/>
		<param name="zero_gyros" value="true"/>
		<param name="covariance" value="0 0 0 0 0 0 0 0 0"/>
	</node>
</launch>
<!--Reset.srv bool zero_gyros bool reset_ekf bool set_mag_ref-->
