<?xml version="1.0"?>

<!-- zelmet.launch
     Launch file for Zed Helmet

     @author  Daniel J. Gonzalez  <dgonz@mit.edu>
     
     @date    2016-10-07
    -->

<launch>
	<arg name="rviz" default="true" /> <!-- display robot in RViz -->
	
    <group ns="suit">

		<group ns="chest">
			<include file="$(find hbo)/launch/chest.launch" >
			</include>
		</group>

		<group ns="upper_right_arm">
			<include file="$(find hbo)/launch/upper_right_arm.launch" >
			</include>
		</group>
		<group ns="lower_right_arm">
			<include file="$(find hbo)/launch/lower_right_arm.launch" >
			</include>
		</group>
    </group>

	    	<!-- URDF model with robot state publisher -->
    	<include file="$(find hbo)/launch/xacro.launch" >
    	</include>

	<!-- RViz -->
	<include if="$(arg rviz)" file="$(find hbo)/launch/rviz.launch" >
		<arg name="config" default="hbo_3imus"/>
	</include>
</launch>
